{% extends 'base.html.twig' %}

{% block title %}MyParty - Sélection des invités{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">
                            Invités :
                        </h1>
                        <p class="card-text">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button type="submit" class="btn btn-success mt-3 btn-block">Valider</button>
                            {{ form_end(form) }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
{% endblock %}