{% extends 'base.html.twig' %}

{% block title %}MyParty - Ajout d'invités{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Sélection du nombre d'invités à ajouter :</h1>
                <p class="card-text">
                <form class="form-group row" method="POST" action="{{ path('select_nb') }}">
                    <div class="col-md-10">
                        <select class="form-control custom-select" name="nbGuests">
                            <option value="null">---------Selectionnez une valeur---------</option>
                            {% for guests in range(3,10) %}
                                <option value="{{ guests }}">{{ guests }} invités</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <input class="btn btn-warning form-control" type="submit" value="Selectionner">
                    </div>
                </form>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
